School/Connected Services/StudentsReference1/StudService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetStudents">
        <s:complexType />
      </s:element>
      <s:element name="GetStudentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStudentsResult" type="tns:ArrayOfStudent" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStudent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Student">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertStudents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertStudentsResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStudentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetStudents" />
  </wsdl:message>
  <wsdl:message name="GetStudentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="InsertStudentsSoapIn">
    <wsdl:part name="parameters" element="tns:InsertStudents" />
  </wsdl:message>
  <wsdl:message name="InsertStudentsSoapOut">
    <wsdl:part name="parameters" element="tns:InsertStudentsResponse" />
  </wsdl:message>
  <wsdl:portType name="StudServiceSoap">
    <wsdl:operation name="GetStudents">
      <wsdl:input message="tns:GetStudentsSoapIn" />
      <wsdl:output message="tns:GetStudentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertStudents">
      <wsdl:input message="tns:InsertStudentsSoapIn" />
      <wsdl:output message="tns:InsertStudentsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StudServiceSoap" type="tns:StudServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudents">
      <soap:operation soapAction="http://tempuri.org/GetStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStudents">
      <soap:operation soapAction="http://tempuri.org/InsertStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StudServiceSoap12" type="tns:StudServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudents">
      <soap12:operation soapAction="http://tempuri.org/GetStudents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStudents">
      <soap12:operation soapAction="http://tempuri.org/InsertStudents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudService">
    <wsdl:port name="StudServiceSoap" binding="tns:StudServiceSoap">
      <soap:address location="https://localhost:44346/StudService.asmx" />
    </wsdl:port>
    <wsdl:port name="StudServiceSoap12" binding="tns:StudServiceSoap12">
      <soap12:address location="https://localhost:44346/StudService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>